$black:black;
$white:white;
$blue:#0173b2;
$cream:#ffffff;
$bluish-black:#000000;
$silver:silver;
$light-grey:lightgrey;
$green:green;
$light-blue:#9dc0e4;
$lightblue:#9cbfda;
$blish-black:#2a2d3e;
$lightish-blue:#e5f1f7;
$dark-gray:darkgray;
$shadow-color:rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
$shadow:rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
$light:#fafafa;
$dark-green:rgb(5, 170, 5);
$light1:#f0f6f8;
$greyish:#9e9c9c;
$light2:#eeeeee;
$darkblue1:rgb(4, 4, 138);
$darkblue2:#0d79b4;
$light3:#cce3f0;
$grey:grey;
$red:red;
$background-color:#97bdda;
$lightblue1:#7eb8d8;
$lightgrey:#c8c8c8;
$darkish-brown:#ce8500;
$light4:#ffdb9b;
$darkgrey:darkgrey;