@import "colors";
@media only screen and (min-width:900px){
    #profile-div {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		height: 6rem;
		border-bottom: 1px solid $silver;
		img {
			width: 30%;
		}
		h5 {
			height: auto;
			width: 40%;
			margin: 0.5rem;
		}
	}
}