<footer>

    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" >

    <ul>
        <li id="footer-li">
            <h3><a href="/Doctorlist">Doctors</a></h3>
        </li>
        <li id="footer-li">
          <h3><a href="/Dentistry">Treatment</a></h3>
       </li>
       <li id="footer-li">
          <h3><a href="Hospitallist">Hospitals</a></h3>
       </li>
       <li id="footer-li">
          <h3><a href="#">Other Services</a></h3>
       </li>
       <li id="footer-li">
          <h3><a href="/FAQ">FAQ's</a></h3>
       </li>
    </ul>
    <ul id="footer-ul-icons" >
        <li id="footer-li-icons">
          <i class="fab fa-facebook"></i>
        </li>
        <li id="footer-li-icons">
          <i class="fab fa-google-plus-g"></i>
       </li>
       <li id="footer-li-icons">
        <i class="fab fa-instagram"></i>
       </li>
       <li id="footer-li-icons">
        <i class="fab fa-stack-overflow"></i>
       </li>
       <li id="footer-li-icons">
        <i class="fab fa-facebook-messenger"></i>
       </li>
    </ul>
    <h3 style="text-align: center; margin-bottom:0px;">All Rights Reserved.  tvastra 2018</h3>
    
   </footer>