<html>
    <head>
        <title>
            Login Page
        </title>
        <link rel="stylesheet" href="./css/reset.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/Theme.css">
        <link rel="stylesheet" href="./css/Login.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
         <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    </head>
    <body>
        <nav class="mobilenav">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo Tvastra">
            
            <ul id="header-ul">
                <li><a href="/Doctorlist">Doctors</a></li>
                <div class="navbardropdown">
                    <div class="dropdown">
                      <button class="dropbtn">Treatments<i class="fa fa-caret-down"></i></button>
                      <div class="dropdown-content">
                        <a href="/Dentistry">Dentistry</a>
                        <a href="#">Cardiology</a>
                        <a href="#">Infertility</a>
                        <a href="#">Ortheopedics</a>
                        <a href="#">Cancer</a>
                      </div>
                    </div> 
                  </div>
                <li><a href="/Hospitallist">Hospitals </a></li>
                <li><a href="/FAQ">FAQ's</a> </li>
            </ul>
                
               <button><a href="/Logout">Get A Quote</a></button>
            
            <i class="fas fa-bars" id="nav-i"></i>
        </nav>

                   <% if(bol!="" || bol===0){%>
                        
                    <div class="alert show">
                        <span class="fas fa-times-circle"></span>
                        <span class="msg">Failure</span>
                        <span class="close-btn" >
                        <span  class="fas fa-times"></span>
                        </span>
                    </div>
                    
                    <%}%>  

                    <% if(bol!="" || bol===-1 ){%>
                        
                        <div class="alert2 show">
                            <span class="fas fa-times-circle"></span>
                            <span class="msg">Login First</span>
                            <span class="close-btn" >
                            <span  class="fas fa-times"></span>
                            </span>
                        </div>
                        
                        <%}%>  

    
        <div id="Login">
           <div id="form-div">
               <div id="heading-div"><h1>Email Login</h1></div>
            <form  action"/Login" method="POST">
             <div id="divemail"><input type="email" name="Email" placeholder="Enter Email " required id="input1" oninput="checkpass1(this)"></div>
               <input type="password" name="Password" placeholder="Enter password" id="pass" oninput="checkpass(this)" aria-label="checkpass(this)">
               <div id="login-alt">
                <a href="/MobileNumber">Login via Mobile OTP</a>
                <button type="submit" name="your_name" formaction="/Forgetpassword" class="btn-link">Forget password</button>
               </div>
               <button class="btn4" type="submit" disabled>LOGIN <i class="fas fa-arrow-right"></i></button>
               <h2>Not Registered/<a href="/SignUp">SignUp</a></h2>
            </form>
           </div>
        </div>
          <h2>All Rights Reserved @ Tvastra 2020</h2>
          

          <script>
            $('.close-btn').click(function(){
                    $(".alert").addClass("hide");
                    $(".alert").removeClass("show");
            });
            $('.close-btn').click(function(){
                    $(".alert2").addClass("hide");
                    $(".alert2").removeClass("show");
            });
         </script>
         <script>
          function checkpass(x){
            var passwd1 = /[A-Z]/;
            var passwd2 = /[a-z]/;
            var passwd3 = /[1,9]/;
            var passwd4 = /@/;
            if(!(x.value.match(passwd1) && x.value.match(passwd2) && x.value.match(passwd3) && x.value.match(passwd4) )){
              document.getElementById("pass").style.borderColor = "red";
              document.getElementById("pass").style.border="1px solid red";
              document.getElementsByClassName("btn4")[0].style.cursor = "not-allowed";
            }
            if(x.value.match(passwd1) && x.value.match(passwd2) && x.value.match(passwd3) && x.value.match(passwd4)){
              document.getElementById("divemail").style.borderColor = "#0862ac";
              document.getElementById("pass").style.border="1px solid #0862ac";
              document.getElementsByClassName("btn4")[0].disabled = false;
              document.getElementsByClassName("btn4")[0].style.cursor = "pointer";
              console.log(document.getElementsByClassName("btn4")[0].cursor)
            }
          }
        </script>
        <script>
          function checkpass1(x){
            var passwd1 = /[A-Z]/;
            var passwd2 = /[a-z]/;
            var passwd3 = /[@]/;
            var passwd4 = /[.]/;
            if(!(x.value.match(passwd1) && x.value.match(passwd2) && x.value.match(passwd3) && x.value.match(passwd4) )){
              console.log("not matches");
              document.getElementById("divemail").style.borderColor = "red";
              document.getElementById("divemail").style.border="1px solid red";
              document.getElementById("input1").style.border="none";
              document.getElementsByClassName("btn4")[0].style.cursor = "not-allowed";
            }
            if(x.value.match(passwd1) && x.value.match(passwd2) && x.value.match(passwd3) && x.value.match(passwd4)){
              console.log("matches");
              document.getElementById("divemail").style.borderColor = "#0862ac";
              document.getElementById("divemail").style.border="1px solid #0862ac";
              document.getElementsByClassName("btn4")[0].style.cursor = "pointer";
            }
          }
        </script>
          <script>
            function myloader(){
                setTimeout(function() {
                    var preloader=document.getElementById("loading");
                    preloader.style.display="none";
                }, 3000);
            }
        </script>
        </body>
        </html>
