<html>
    <head>
        <title>
            Tvastra-Plus
        </title>
        <link rel="stylesheet" href="../css/reset.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/Theme.css">
        <link rel="stylesheet" href="../css/travastra-plus.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    <body>
        <%- include('header',{Profile:Name,mobile:Mobile,pic:dp}) %>
        <div id="Hero">
            <div id="info">
                <div id="heading">
                <button>PLUS</button>
                <h1>Healthcare plans for you and your family</h1>
                <h4>Become a Tvastra Plus Member and save 60% of the yearly health expenses</h4>
            </div>
            </div>
            <div id="list">
               <ul>
                <div id="heading2">
                    <h2>Select a Tvastra Plus healthcare plan</h2>
                    <h4>All Plus plans are for 4 Adults and 2 children</h4>
                </div>
                <li>
                    <h2>Basic Plan</h2>
                    <div id="Basic-info">
                        <h4>Unlimited Consultaion with any speciality</h4>
                        <h4>20% off on prescription medicines</h4>
                        <h4>20% off on tests & checkups</h4>
                    </div>
                    <div id="amount">
                        <i class="fas fa-rupee-sign"></i>
                        <h2>2000/year</h2>
                        <h5>View Plan Details</h5>
                    </div>
                    <button>Buy Plan</button>
                </li>
                <li id="gradient">
                    <button style="background-color: green;z-index:0;" id="popular">Popular</button>
                    <h2>Advanced Plan</h2>
                    <div id="Basic-info">
                        <h4>Unlimited Consultaion with any speciality</h4>
                        <h4>20% off on prescription medicines</h4>
                        <h4>20% off on tests & checkups</h4>
                        <h4>10 Free in-clinic-Consultants</h4>
                    </div>
                    <div id="amount">
                        <i class="fas fa-rupee-sign"></i>
                        <h2>3,999/year</h2>
                        <h5>View Plan Details</h5>
                    </div>
                    <button>Buy Plan</button>
                </li>
                <li>
                    <h2>Comprehensive Plan</h2>
                    <div id="Basic-info">
                        <h4>Unlimited Consultaion with any speciality</h4>
                        <h4>20% off on prescription medicines</h4>
                        <h4>20% off on tests & checkups</h4>
                    </div>
                    <div id="amount">
                        <i class="fas fa-rupee-sign"></i>
                        <h2>5,999/year</h2>
                        <h5>View Plan Details</h5>
                    </div>
                    <button>Buy Plan</button>
                </li>
               </ul>
            </div>
        </div>

        <div id="reviews">
            <h2>Trusted by 2 crore's+ users every month</h2>
            <h4> Tvastra is the leading healthcare technology in India.We begin in 2009 and today we help more then 2 crore user's every month. </h4>
            <div id="reviews-info">
                <h2>4.5</h2>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                <h5>1000+ Reviews</h5>
            </div>
            <ul>
                <li>
                    <h4>5</h4>
                    <div id="percentage"><div id="percentage2" style="width:70%;"></div></div>
                </li>
                <li>
                    <h4>4</h4>
                    <div id="percentage"><div id="percentage2" style="width:30%;"></div></div>
                </li>
                <li>
                    <h4>3</h4>
                    <div id="percentage"><div id="percentage2" style="width:34%;"></div></div>
                </li>
                <li>
                    <h4>2</h4>
                    <div id="percentage"><div id="percentage2" style="width:20%;"></div></div>
                </li>
                <li>
                    <h4>1</h4>
                    <div id="percentage"><div id="percentage2" style="width:10%;"></div></div>
                </li>
            </ul>
            <div id="options">
              <div>
                <i class="fas fa-users"></i>
                <h2>2crore+</h2>
                <h5>Monthly customers</h5>
              </div>
              <div>
                <i class="fas fa-user-md"></i>
                <h2>100,000+</h2>
                <h5>Verified doctors</h5>
            </div>
            <div>
                <i class="fas fa-pills"></i>
                <h2>10Lakh+</h2>
                <h5>Medicines ordered delivered</h5>
            </div>
            <div>
                <i class="far fa-calendar-check"></i>
                <h2>5crore+</h2>
                <h5>Doctor Appointments</h5>
            </div>
            </div>
        
        </div>

        <div id="hospitals-info">
            <h3>Benefits of Plus Membership</h3>
            <div id="line"></div>
            
            <div id="grid-div">
            <div id="hospital_div">

            <h2>Zero fees for in-clinic consultation</h2>
            <div class="align">
            <i class="fas fa-check-circle"></i>
            <h4>Consult with 30000+ specialist doctors at top clinics and hospitals in the PLUS network at Rs.0 consultant fees.</h4>
            </div>
            <div class="align">
                <i class="fas fa-check-circle"></i>
            <h4>Upto 10 in-clinic consulations can be used by any family member over 12 months period.</h4>
            </div>

            </div>

            <div class="hospital-img">
            <h3 style="font-family: nexa-bold;">Top hospitals Onboarded</h3>
            <ul>
                <li style="border-right:2px solid #80b9d8;border-bottom: 2px solid #80b9d8;">
                 <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg">
                </li>
                <li style="border-bottom: 2px solid #80b9d8;">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg" alt=""></li>
                <li style="border-right:2px solid #80b9d8;border-bottom: 2px solid #80b9d8;">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg" alt="">
                </li>
                <li style="border-bottom: 2px solid #80b9d8;">
                 <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg" alt="">
                </li>
                <li style="border-right:2px solid #80b9d8;">
                 <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg" alt="">
                </li>
                <li>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg" alt="">
                </li>
                <h5 style="color: lightgrey;">More+ hospitals</h5>
            </ul>
            </div>
        </div>
        </div>

        <ul id="offers">
            <li id="list-1">
                <div id="div-1">

                        <h2>Unlimited online consultations with top doctors</h2>
                        <div class="align">
                        <i class="fas fa-check-circle"></i>
                        <h4>Get your health queries answered from any specialists online,any time of the day.</h4>
                        </div>
                        <div class="align">
                            <i class="fas fa-check-circle"></i>
                        <h4>Connect under 2 minutes on call,text or video-7 days of week and consult with doctors what you want.  </h4>
                        </div>
                        <div class="align">
                            <i class="fas fa-check-circle"></i>
                        <h4>All online consultations are confidential.Only doctor and patients can access the chat.</h4>
                        </div>

                </div>
                <div id="img1" class="img-1">
                    <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/01/23/11/video-doctor-230119.jpg?w968h681" alt="">
                </div>
            </li>
            <li id="list-2">
                <div id="div-2">

                    <h2>Flat 20% off on prescription medicine ,lab tests and check-up's.</h2>
                    <div class="align">
                    <i class="fas fa-check-circle"></i>
                    <h4>Save money on medicines and tests for your entire family.Save money on medicines.</h4>
                    </div>
                    <div class="align">
                        <i class="fas fa-check-circle"></i>
                    <h4>Get flaqt 20% off on medicines that requires prescription as well as on check-up's and tests.</h4>
                    </div>
                    <div class="align">
                        <i class="fas fa-check-circle"></i>
                    <h4>No questions asked.No minimun order value.no limits-available accross 100+ cities in India.</h4>
                    </div>

            </div>
            <div id="img1" class="img-2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
            </div>
            </li>
            <li id="list-3" >
                <div id="div-3">

                    <h2>2 Free health checkup's.</h2>
                    <div class="align">
                    <i class="fas fa-check-circle"></i>
                    <h4>Discuss your test results with doctors through online consultations.Receive E-reports within 48 hrs.</h4>
                    </div>
                    <div class="align">
                        <i class="fas fa-check-circle"></i>
                    <h4>Home sample pickup.Checkup's can be booked anytime,even weekends.Save money on medicines and tests for your entire family.</h4>
                    </div>
                    <div class="align">
                        <i class="fas fa-check-circle"></i>
                    <h4>Tabs are NABL,CAP Accredited.Tax deductable under 80D.Save money on medicines and tests for your entire family.</h4>
                    </div>

            </div>
            <div id="img1" class="img-3">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg" alt="">
            </div>
            </li>
        </ul>

        <div id="profile">
            <h4>60 tests included</h4>
            <ul>
                <li>
                    <div id="profile_info">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg">
                    </div>
                    <h2>Vitamin Profile</h2>
                        <h5>2 tests</h5>
                </li>
                <li>
                    <div id="profile_info">
                         <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg">
                    </div>
                    <h2>Iron deficiency Profile</h2>
                        <h5>3 tests</h5>
                </li>
                <li>
                    <div id="profile_info">
                       <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg" >
                    </div>
                    <h2>Thyroid Profile</h2>
                        <h5>3 tests</h5>
                </li>
                <li>
                    <div id="profile_info">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg" >
                    </div>
                    <h2 >Liver Profile</h2>
                        <h5>11 tests</h5>
                </li>
            </ul>
        </div>
          
        <div id="comments">
            <h2>Why we love Tvastra</h2>
            <button>PLUS</button>

            <ul>
                <li>
                    <p>"Wonderful experience with Tavstra Plus ,it help me saving a lot of amount as it provides free consultations with best dotors."</p>
                     <div id="users">
                         <div id="users_image">
                             <img src="https://images.theconversation.com/files/304957/original/file-20191203-66986-im7o5.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip">
                         </div>
                         <div id="users_infos">
                         <h3>Rishab Tiwari</h3>
                         <button>Advanced Plan User</button>
                        </div>
                     </div>
                </li>
                <li>
                    <p>"Wonderful experience with Tavstra Plus ,it help me saving a lot of amount as it provides free consultations with best dotors."</p>
                     <div id="users">
                         <div id="users_image">
                             <img src="https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/317/317991/doctor-in-branding-article.jpg?w=1155&h=1314">
                         </div >
                         <div id="users_infos">
                         <h3>Mini Aggarwal</h3>
                         <button>Comprehensive Plan </button>
                        </div>
                     </div>
                </li>
                <li>
                    <p>"Wonderful experience with Tavstra Plus ,it help me saving a lot of amount as it provides free consultations with best dotors."</p>
                     <div id="users">
                         <div id="users_image">
                             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcShOs5kvcd_bfY_XvILhW3C_jITjadOdJ1grQ&usqp=CAU">
                         </div >
                         <div id="users_infos">
                         <h3>Prachi Gupta</h3>
                         <button>Comprehensive Plan</button>
                        </div>
                     </div>
                </li>
            </ul>
        </div>

        <div id="questions">
            <h2>Frequently Asked Questions</h2>
            <button class="collapsible"><h3>How does free in-clinic consultations work?.</h3></button>
               <div class="content">
                <p>Lorem ipsum dolor sit amet,consectetur adipiscing alit.Labore illo,ratione asperiores voluptates a vel eos labouriosam,distincio sed dolorem,saepe
                  repellendus incidunt.Veritatis modi harum unde officis,place at blanditis.</p>
                 </div>

                  <button class="collapsible"><h3>Are there any type of doctors not included in tvastra-plus network?.</h3></button>
                  <div class="content">
                     <p>Lorem ipsum dolor sit amet,consectetur adipiscing alit.Labore illo,ratione asperiores voluptates a vel eos labouriosam,distincio sed dolorem,saepe
                       repellendus incidunt.Veritatis modi harum unde officis,place at blanditis.</p>
                      </div>
                   <button class="collapsible"><h3>How do the unlimited online consultations work?. </h3></button>
                   <div class="content">
                     <p>Lorem ipsum dolor sit amet,consectetur adipiscing alit.Labore illo,ratione asperiores voluptates a vel eos labouriosam,distincio sed dolorem,saepe
                       repellendus incidunt.Veritatis modi harum unde officis,place at blanditis.</p>
                      </div>

                      <button class="collapsible"><h3>How does flat 20% off on medicines work?.</h3></button>
                      <div class="content">
                        <p>Lorem ipsum dolor sit amet,consectetur adipiscing alit.Labore illo,ratione asperiores voluptates a vel eos labouriosam,distincio sed dolorem,saepe
                          repellendus incidunt.Veritatis modi harum unde officis,place at blanditis.</p>
                         </div>

                         <button class="collapsible"><h3>How does flat 20% off on lab tests work?.</h3></button>
                         <div class="content">
                           <p>Lorem ipsum dolor sit amet,consectetur adipiscing alit.Labore illo,ratione asperiores voluptates a vel eos labouriosam,distincio sed dolorem,saepe
                             repellendus incidunt.Veritatis modi harum unde officis,place at blanditis.</p>
                            </div>
        </div>

        <%- include('footer') %>
           <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                  content.style.maxHeight = null;
                } else {
                  content.style.maxHeight = content.scrollHeight + "px";
                } 
              });
            }
            </script>
              <script>
                function myloader(){
                    setTimeout(function() {
                        var preloader=document.getElementById("loading");
                        preloader.style.display="none";
                    }, 5000);
                }
            </script>
    </body>

    </html>